/*-------------------------------------------------*/
/* Fonts */

@font-face {
    font-family: Quintessential;
    src: url(/static/fonts/Quintessential-Regular.ttf)
}

@font-face {
    font-family: Lora;
    src: url(/static/fonts/Lora-VariableFont_wght.ttf)
}

/*------------------------------------------------*/
/* Colorscheme */

.dark {
    --bg: hsl(0 0% 10%);
    --fg: hsl(0 0% 90%);
    --button-bg: hsl(0 0% 5%);
    --button-fg: hsl(0 0% 90%);
    --color-subtle: hsl(267 50% 5%);
    --color-active-1: hsl(267 50% 20%);
    --color-active-2: hsl(267 25% 10%);
}

.light {
    --bg: hsl(267 50% 92%);
    --fg: hsl(0 0% 0%);
    --button-bg: hsl(267 15% 60%);
    --button-fg: hsl(267 20% 100%);
    --color-subtle: hsl(267 50% 88%);
    --color-active-1: hsl(267 30% 60%);
    --color-active-2: hsl(267 30% 80%);
}

/*---------------------------------------*/
/* Component defaults */

body {
    --margin: 12px;
    background-color: var(--bg);
    color: var(--fg);
    text-align: center;
	font-size: 20px;
    height: 100%;
    margin: 0;
}

button, body {
    font-family: Lora;
}

h1, h2, h3 {
    font-family: Quintessential;
}

a {
    color: var(--fg);
}


html { height: 100%; }

input, textarea {
	font-size: 20px;
	margin: var(--margin);
    padding: 10px;
	/* border: none; */
	color: var(--fg);
	border-radius: 10px;
	background-color: var(--bg);
}

button, .button-thick {
	padding: 20px;
	margin: var(--margin);
	color: var(--button-fg);
    border-width: 0;
	border-radius: 10px;
	background-color: var(--button-bg);
	font-size: 20px;
    text-decoration: none;
}

button:hover {
    background-color: var(--color-active-1);
}
button:active {
    background-color: var(--color-active-2);
}

svg {
    fill: var(--fg);
}


/*-----------------------------------------------------*/
/* util */


.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonify {
    margin: 10px;
    padding: 10px;
    background-color: var(--color-subtle);
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

select {
	padding: 10px;
	margin: var(--margin);
	/* border: none; */
	color: var(--fg);
	border-radius: 10px;
	/* background-color: hsl(267 33% 0%); */
	background-color: var(--bg);
	font-size: 20px;
}

/*-----------------------------------------------------*/
/*  home page line-sets display */

#line-set-listing-container {
  border: var(--fg) 1px solid;
  border-left: none;
  border-right: none;
  /*background-color: var(--color-active-2);*/
  width: 500px;
  max-width: calc(100vw - 4px);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  /*font-size: 15px;*/
}

#line-set-listing-container {
  /*animation: 1s ease 0s 1 reveal;*/
}

#line-set-listing {
	/*display: grid;*/
	/*grid-template-columns: auto auto auto;*/
    /*text-align: left;*/
}

.line-set-row {
    display: flex;
    padding: 12px;
}

.lineset-name {
    text-align: left;
  font-size: 20px;
  flex: 1;
}

.lineset-review {
  padding: 0;
  flex: 1;
}
.lineset-edit {
  flex: 1;
}

@keyframes reveal{
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

/*-----------------------------------------------------*/
/*  review page */

#reviewer {
  font-size: 20px;
  --card-width: min(600px, 100%)
}

#back { margin-top: 1em; }
#revealbtn { margin-top: 2em; }
#submitform { margin-top: 2em; }
#reviewer button { width: 13em; }
#card {
    width: var(--card-width);
    min-height: 550px;
    height: fit-content;
    margin: 5px auto;
    background-color: var(--color-active-2);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
#front_inputs {
    /*margin-top: auto;*/
}

/*-----------------------------------------------------*/
/* lineset-page */

#lineset-page-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/* settings page */

#settings-strategy-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*-----------------------------------------------------*/

body { --header-height: 60px; }
.nav-container {
	position: absolute;
	display: flex;
	top: 0px;
    left: 0px;
    right: 0px;
    height: var(--header-height);
    transition: left 0.5s;
}

.nav-container.docked {
    left: -210px;
}


/*-----------------------------------------------------*/
/* navbar */

.navbar {
	width: 100%;
    font-size: 30px;
    /*transform: translateX(200px);*/
    /*height: 50px;*/
	background-color: var(--color-active-2);
    color: var(--fg);
	padding-bottom: 5px;
	display: grid;
    grid-template-columns: 80px 1fr auto;
    align-items: center;
}

.sidebar-toggle {
	font-size: 45px;
	padding: 0;
	margin: 0;
}

.navbar > div {
    padding-left: 10px;
    padding-right: 10px;
}

/*-----------------------------------------------------*/
/* sidebar */

.sidebar-container {
    width: 200px;
    flex-shrink: 0;
    height: 500px;
    /*border-radius: 10px;*/
    text-align: left;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-active-2);
}

.sidebar-header {
    width: auto;
}

.sidebar-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-spacer {
    flex-grow: 1;
}

.sidebar-item {
    /*border: 1px solid var(--fg);*/
    padding: 10px;
    flex-grow: 0;
}

/*-----------------------------------------------------*/
/* SPA minimal "page" set-up */

.page {
    padding-top: var(--header-height);
}

.page:not(:target) {
    display: none;
}

/*-----------------------------------------------------*/
/* Line browse tool */

.browser-card {
    margin-top: 1em;
    max-width: 650px;
    width: 100%;
    background-color: var(--color-active-2);
    padding: 15px;
    border-radius: 8px;
    display: flex;
}

.browser-card-content {
    flex-grow: 1;
}

.browser-line, .browser-cue {
    background-color: var(--bg);
    padding: 10px;
    flex-grow: 1;
    margin-left: 5px;
    border-radius: 5px;
    /* text-align: left; */
}

.line-container, .cue-container {
    display: flex;
    margin: 10px;
    align-items: center;
}

.line-container label, .cue-container label {
    /* width: 50px; */
    flex-shrink: 0;
    color: var(--button-fg);
}

#browser-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.browser-line-metadata {
    display: flex;
    align-items: center;
}

.browser-card-sidebar {
    flex-grow: 0;
    width: 35px;
    display: flex;
    flex-direction: column;
}

.browser-card-mover {
    /* flex-basis: 50px; */
    transform: translateX(-10px)
}

.browser-card-view-toggle {
    /* flex-basis: 30px; */
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: transform 0.5s;
}

.browser-card-squished .browser-card-view-toggle {
    transform: rotate(-90deg);
}

.cue-container, .browser-line-metadata {
    max-height: 100px;
    transition-property: max-height, margin, padding, visibility, opacity;
    transition-duration: 0.5s;
}

.browser-card-squished .cue-container, .browser-card-squished .browser-line-metadata {
    max-height: 0;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
}
