@font-face {
    font-family: Quintessential;
    src: url(/static/fonts/Quintessential-Regular.ttf)
}

@font-face {
    font-family: Lora;
    src: url(/static/fonts/Lora-VariableFont_wght.ttf)
}

body {
    --margin: 12px;
    background-color: var(--bg);
    color: var(--fg);
    text-align: center;
	font-size: 20px;
    height: 100%;
    margin: 0;
}

button, body {
    font-family: Lora;
}

h1, h2, h3 {
    font-family: Quintessential;
}

a {
    color: var(--fg);
}

.dark {
    --bg: hsl(0 0% 10%);
    --fg: hsl(0 0% 90%);
    --button-bg: hsl(0 0% 5%);
    --button-fg: hsl(0 0% 90%);
    --color-active-1: hsl(267 50% 20%);
    --color-active-2: hsl(267 25% 10%);
}

.light {
    --bg: hsl(267 50% 93%);
    --fg: hsl(0 0% 0%);
    --button-bg: hsl(267 15% 60%);
    --button-fg: hsl(267 20% 100%);
    --color-active-1: hsl(267 30% 60%);
    --color-active-2: hsl(267 30% 80%);
}

html { height: 100%; }

input, textarea {
	font-size: 20px;
	margin: var(--margin);
    padding: 10px;
	/* border: none; */
	color: var(--fg);
	border-radius: 10px;
	background-color: var(--bg);
}

button {
	padding: 20px;
	margin: var(--margin);
	color: var(--button-fg);
    border-width: 0;
	border-radius: 10px;
	background-color: var(--button-bg);
	font-size: 20px;
}

button:hover {
    background-color: var(--color-active-1);
}
button:active {
    background-color: var(--color-active-2);
}

select {
	padding: 10px;
	margin: var(--margin);
	/* border: none; */
	color: var(--fg);
	border-radius: 10px;
	/* background-color: hsl(267 33% 0%); */
	background-color: var(--bg);
	font-size: 20px;
}


/*-----------------------------------------------------*/
/*  home page line-sets display */

#line-set-listing-container {
  border: var(--fg) 1px solid;
  /*background-color: var(--color-active-2);*/
  width: 500px;
  max-width: calc(100vw - 4px);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  font-size: 15px;
}

#line-set-listing-container {
  animation: 1s ease 0s 1 reveal;
}

#line-set-listing {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.lineset-name {
  margin: auto;
  font-size: 20px;
}

.lineset-review {
  padding: 0;
}

@keyframes reveal{
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}

/*-----------------------------------------------------*/

.nav-container {
	position: absolute;
	display: flex;
	top: 0px;
    left: 0px;
    right: 0px;
	height: 60px;
}

/*-----------------------------------------------------*/
/* navbar */

.navbar {
	width: 100%;
    font-size: 30px;
    /*transform: translateX(200px);*/
    /*height: 50px;*/
	background-color: var(--color-active-2);
    color: var(--fg);
	padding-bottom: 5px;
	display: grid;
    grid-template-columns: 80px 1fr auto;
    align-items: center;
}

.sidebar-toggle {
	font-size: 45px;
	padding: 0;
	margin: 0;
}

.navbar > div {
    padding-left: 10px;
    padding-right: 10px;
}

/*-----------------------------------------------------*/
/* sidebar */

.sidebar-container {
    width: 200px;
    flex-shrink: 0;
    height: 500px;
    /*border-radius: 10px;*/
    text-align: left;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-active-2);
}

.nav-container.docked {
    left: -210px;
    animation: 0.1s ease 0s 1 dock-sidebar;
}

.nav-container:not(.docked) {
    animation: 0.1s ease 0s 1 undock-sidebar;
}

@keyframes undock-sidebar {
    from {
        left: -210px;
    }
    to {
        left: 0px;
    }
}

@keyframes dock-sidebar {
    from {
        left: 0px;
    }
    to {
        left: -210px;
    }
}

.sidebar-header {
    width: auto;
}

.sidebar-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-spacer {
    flex-grow: 1;
}

.sidebar-item {
    /*border: 1px solid var(--fg);*/
    padding: 10px;
    flex-grow: 0;
}

/*-----------------------------------------------------*/

