<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Lynx</title>
  <script src="/static/linesetbuilder.js" defer></script>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <h1>Add your lines</h1>
  <div style="width: min(100%, 650px); text-align: left; margin-left: auto; margin-right: auto;">
    <div>
      <label for="title">Please provide a title:</label>
      <input name="title" id="title" type="text" value="{{.Title}}"/>
    </div>
    <div style="color: red;">
      {{.ErrorMsg}}
    </div>
    <div>
      Type up or paste your character's lines with their cues in the simple format shown.
    </div>
    <textarea id="data" rows="20" cols="40" placeholder="RUFUS: This is Poco's cue
POCO: My line

RUFUS: Lines are separated by a blank space
POCO: Another line
">{{.Text}}</textarea>
    <div>
      Status: <span>saving</span>
    </div>
    <form action="/feline/finishbuilder">
      <button id="submit" style="width: 20em;">Create line set</button>
    </form>
    <form action={{.ReturnTo}}> <button style="width: 20em;">Go back</button> </form>
  </div>
</body>
</html>
