<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Lynx</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <script src="/static/js/colorscheme.js"></script>
  <h1>Select your line set</h1>
  <div>
    <form id="file-selection" action="/feline/fileselect" method="post">
        {{range $index, $file := .Files}}
        <div>
          <button name="file" value="{{$index}}" onclick>{{$file}}</button>
        </div>
        {{end}}
    </form>
    <form action="/builder" method="get">
      <button style="background-color: hsl(267 100% 10%)">Create new line set</button>
      <input type="hidden" name="returnTo" value="session" />
    </form>
  </div>
</body>
</html>
