<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Lynx</title>
  <link rel="stylesheet" href="/static/styles.css" />
  <script src="/static/js/home.js" defer></script>
</head>
<body>
  <script src="/static/js/colorscheme.js"></script>

  <div class="nav-container docked">
    <div class="sidebar-container">
      <div class="sidebar-items">
        <div class="sidebar-item"><a href="/">Home</a></div>
        <div class="sidebar-item"><a href="/builder">Builder</a></div>
        <div class="sidebar-item"><a href="/session">Reviewer</a></div>
        <div class="sidebar-spacer"></div>
        <div class="sidebar-item"><a href="/feline/logout">Log out</a></div>
        <div class="sidebar-item" onclick="toggleTheme()">Toggle theme</div>
      </div>
    </div>
    <div class="navbar">
      <button class="sidebar-toggle" onclick="sidebarToggle()">≡</button>
      <div>Lynx</div>
      <div></div>
    </div>
  </div>

  <script>
    const sidebar = document.querySelector(".nav-container");
    function sidebarToggle() {
      sidebar.classList.toggle("docked")
    }
    if (screen.width > 500) {
      sidebar.classList.remove("docked")
    }
  </script>


  <div>
    {{if .ActiveSession}}
    <p>You're in the middle of reviewing <b>{{.ActiveSession}}</b>.</p>
    <form action="/session">
      <button>Continue reviewing</button>
    </form>
    {{end}}
    <form action="/feline/startsession">
      <button>Start new review session</button>
    </form>
    <style>
  </style>

    <div id="line-set-listing-container" hidden=true>
      <h3>Line sets</h3>
      <div id="line-set-listing"></div>
    </div>
    <form action="/builder">
      <button>Add new line set</button>
    </form>


    <p>You can also <a href="/feline/logout">logout here!</a></p>
  </div>

</body>
</html>
