<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Lynx</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <h1>Welcome to Lynx, {{.Name}}!</h1>
  <div>
    {{if .ActiveSession}}
    <p>You're in the middle of reviewing <b>{{.ActiveSession}}</b>.</p>
    <form action="/session">
      <button>Continue reviewing</button>
    </form>
    {{end}}
    <form action="/feline/startsession">
      <button>Start new review session</button>
    </form>
    <form action="/builder">
      <button>Add new line set</button>
    </form>
    <p>You can also <a href="/feline/logout">logout here!</a></p>
  </div>
</body>
</html>
