<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Lynx</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <div id="card">
    <h2 id="header">{{.Header}}</h2>
    <div id="front">{{.Front}}</div>
    <div id="back" hidden>{{.Back}}</div>
    <div><button type="button" id="revealbtn">Reveal</button></div>
    <div id="submitform" hidden>
      <form action="/feline/lineprompt" method="post">
      <div><button name="action" value="continue" id="continuebtn">Continue</button></div>
      <div><button name="action" value="back" id="backbtn">Back</button></div>
      </form>
    </div>
  </div>
  <style>
    body {
      font-size: 20px;
    }
    #back { margin-top: 1em; }
    #revealbtn { margin-top: 2em; }
    #submitform { margin-top: 2em; }
    button { width: 13em; }
    #card {
        width: min(500px, 100%);
        min-height: 500px;
        height: fit-content;
        margin: 25px auto;
        background-color: hsl(267 23% 10%);
        padding: 20px;
        border-radius: 10px;
    }
  </style>
  <script>
    const frontText = document.getElementById("front")
    const revealButton = document.getElementById("revealbtn");
    const revealText = document.getElementById("back");
    const submitForm = document.getElementById("submitform");
    revealButton.addEventListener("click", () => {
      revealText.hidden = false;
      submitForm.hidden = false;
      revealButton.hidden = true;
      frontText.style.setProperty("opacity", 0.5);
    });
  </script>
</body>
</html>
