<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lynx</title>
    <link rel="stylesheet" href="/static/style/common.css" />
  </head>
  <body>
    <script src="/static/js/colorscheme.js"></script>
    <h1>Who are you?</h1>

    <script src="https://accounts.google.com/gsi/client" async></script>
    <div class="center-content">
      <div id="g_id_onload"
        data-client_id="1061110404018-u0b2endrdfag25g27ain71l93mm6ji9p.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="/login/google"
        data-auto_prompt="false">
      </div>

      <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-width="500"
        data-theme="filled_black"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
      </div>
    </div>

    <div class="center-content">
      <p style="max-width: 650px;">
      Enter your email to receive a permanent link associated to your account. Alternatively, you may sign-in using a third party service above.
      </p>
    </div>

    <span style="color: red">
      {{.ErrorMessage}}
    </span>

    <form action="/login/email" method="get" style="display: flex; justify-content: center;">
      <div>
        <label for="email">Enter email:</label>
        <input type="email" name="email" id="email-input" required />
      </div>
      <button class="buttonify">Get link</button>
    </form>
  </body>
</html>
