<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Lynx</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <h1>Select a review strategy</h1>
  <div>
    <form action="/feline/settings" method="post">
        {{ range $item := .Options }}
        <div>
          <button name="reviewtype" value="{{$item.Code}}" onclick>{{$item.Title}}</button>
        </div>
        {{ end }}
    </form>
  </div>
</body>
</html>
