/* Line browser */

#browser-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
        margin-top: 1em;
        max-width: 650px;
        width: 100%;
        background-color: var(--color-active-2);
        padding: 15px;
        border-radius: 8px;
        display: flex;
    }

    .card-content {
        flex-grow: 1;
    }

    .line, .cue {
        background-color: var(--bg);
        padding: 10px;
        flex-grow: 1;
        margin-left: 5px;
        border-radius: 5px;
        /* text-align: left; */
    }

    .line-container, .cue-container {
        display: flex;
        margin: 10px;
        align-items: center;
        lable {
            /* width: 50px; */
            flex-shrink: 0;
            color: var(--button-fg);
        }
    }

    .line-metadata {
        display: flex;
        align-items: center;
    }

    .card-sidebar {
        flex-grow: 0;
        width: 35px;
        display: flex;
        flex-direction: column;
    }

    .card-mover {
        /* flex-basis: 50px; */
        transform: translateX(-10px)
    }

    .card-view-toggle {
        width: fit-content;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        transition: transform 0.5s;
        .card-squished & {
            transform: rotate(-90deg);
        }
    }

    .cue-container, .line-metadata {
        max-height: 100px;
        transition-property: max-height, margin, padding, visibility, opacity;
        transition-duration: 0.5s;
        .card-squished & {
            max-height: 0;
            flex-shrink: 1;
            margin: 0;
            padding: 0;
            visibility: hidden;
            opacity: 0;
        }
    }
}
