#reviewer {
    font-size: 20px;
    --card-width: min(600px, 100%)

    #back { margin-top: 1em; }
    #revealbtn { margin-top: 2em; }
    #submitform { margin-top: 2em; }
    #reviewer button { width: 13em; }
    #card {
        width: var(--card-width);
        min-height: 550px;
        height: fit-content;
        margin: 5px auto;
        background-color: var(--color-active-2);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
}
